/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

.true {
    text-decoration: line-through;
}

.false {
    text-decoration: none;
}

.todo-true {
    color: green;
}

.todo-false {
    color: red;
}